.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_menu ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

.nav_menu ul li {
  font-size: 18px;
}

.nav_menu ul li a {
  text-decoration: none;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}
.dropdown{
    max-width: 12px;
   margin-left: 8px;
  

}
.icon_container{
    display: flex;
    align-items: center;
    gap: 30px;
}
.search{
    max-width: 20px;
}

.shopping{
    max-width: 18px;
}

